<%= form_for(@ejemplo) do |f| %>
  <% if @ejemplo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejemplo.errors.count, "error") %> prohibited this ejemplo from being saved:</h2>

      <ul>
      <% @ejemplo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
