<p id="notice"><%= notice %></p>

<%= image_tag @elemento.imagen_url.to_s %>
<p>
  <strong>Nombre:</strong>
  <%= @elemento.nombre %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @elemento.descripcion %>
</p>
<p>
  <strong>Precio:</strong>
  <%= @elemento.precio %>
</p>
<p>
  <strong>Caracteristicas:</strong>
  <%= @elemento.caracteristicas %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @elemento.tipo.nombre %>
</p>
